@font-face {
    font-family: 'futura_std';
    src: url('fonts/futura_std_heavy-webfont.woff2') format('woff2'),
         url('fonts/futura_std_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'futura_std';
}
body{
    background-color: lightblue;
}

h1{
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 50px
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.grid-item{
    display: flex;
    padding: 25px;
    gap: 15px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    
}

.grid-item:hover{
    background-color: azure;
}
#Form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 35px;
}

form input[type = submit]{
    padding: 5px;
    width: 150px;
    border-radius: 10px ;
    font-size: 14px;
}

form input[type = text]{
    padding: 5px;
    border-radius: 10px;
}
form input[type = number]{
    padding: 5px;
    border-radius: 10px;
}

form input[type = submit]{
    padding: 5px;
    width: 150px;
    border-radius: 10px ;
    font-size: 14px;
}

form input[type = text]:hover{
    padding: 6px;
    background-color: azure;
    transition: ease-in-out .4s;
}
form input[type = number]:hover{
    padding: 6px;
    background-color: azure;
    transition: ease-in-out .4s;
}

form input[type = submit]:hover{
    background-color: azure;
    transition: .4s ease-in-out;
}

form input[type = number]:invalid{
    background-color: rgb(194, 47, 47);
}

form input[type = text]:invalid{
    background-color: rgb(194, 47, 47);
}